---

import {Image} from 'astro:assets';


const props = Astro.props

---

<div id="header" class="fixed h-[3.25rem] bg-[#222225]/50 w-full z-50 backdrop-blur-xs">

	<p class="font-heading font-bold text-2xl mt-2 mr-10 ml-auto text-right w-fit text-white float-right invisible md:visible" title="Page Title">{props.pageName}</p>

</div>

<script>

	import { animate } from "motion"

	animate("#header", { y: [-50, 0], opacity: [0, 100] }, { ease: "easeInOut", duration: 1} )

</script>